
  body {
    /*background-color: #b3d5ed;*/
  }

  .pointer {
    cursor: pointer;
  }

  .rotateplane {
    transform: rotate(90deg) translateX(3px);
    font-size: 90%;
    opacity: 0.8;
  }

  .justify {
    text-align: justify;
    text-justify: inter-word;    
  }

  #sec2 {
    background-color: #174274;
    min-height: 200px;
    margin-bottom: -20px;
  }

  #sec1 { 
    background-image: url(/optimized-ross-parmly-25230-unsplash.jpg);
    background-position: top center;
    background-position: center center;
    background-size: cover; 
    margin-bottom: -21px;
  }

  #sec1 h1 {
    margin-top: 0px;
  }

  h1 {
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 7px rgba(0,0,0,0.8);
    font-size: 350%;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 140%;
    font-weight: bold;
    border-bottom: 2px solid rgba(23, 66, 116, 0.3);
    display: inline-block;
    padding-bottom: 8px;
    padding-right: 10px;
  }

  #mainlogo {
    margin-left: -20px;
    margin-top: 0px;
    width: 320px;
  }

  #div-main-logo {
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 20px;
  }

  .flag-wrapper {
    cursor: pointer;
    width: 105px;
    height: 48px;
    position: absolute;
    right: -3px;
    top: 20px;
    border: 3px solid white;
    background-color: white;
    border-radius: 2px;
  }

  .flags-with-desc {
    display: inline-block;
    width: 43px;
    height: 29px;
  } 

  .flags-with-desc img {
    width: 100%;
  }

  .flag-desc {
    margin-top: -5px;
    font-size: 11px;
  }

  .flag-selected {
    border-bottom: 3px solid #174274;
  }

  #claim-form {
    background-color: rgba(255,255,255,0.9);
    padding: 0px;
    padding-bottom: 25px;
    margin-top: -20px;
  }

  .claimbox-wrapper #claim-form {
    margin-top: 20px;
  }

  .card-panel .titulo {
    font-size: 150%;
      font-weight: bold;
      background-color: #4097d3;
      text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
      color: white;
      padding: 10px;
      margin-bottom: 20px;
  }

  #left-description {
    font-size: 150%;
    padding-left: 50px;  
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 7px rgba(0,0,0,0.8);       
  }

  #left-description ul {
    margin-left: 50px;
  }

  li::before {
    content: "•"; color: white;
      display: inline-block; width: 1em;
      margin-left: -1em
  }

  .form-wrapper {
    padding: 0px 30px;
  }

  .btn { 
    background-color: #4097d3;
  }

  .btn:hover {
    background-color: #174274;
  }

  .btn:focus {
    background-color: #25a0f5;
  }

  .input.validate:focus {
    border-bottom-color: #25a0f5;
  }

  .active { 
    color: #174274!important;
  }

  footer {
    width: 100%;
    text-align: center;
    color: #174274;
    padding: 30px 0px 0px 0px;
    margin-top: 0px;
    background-color: #b3d5ed;
  }

  footer .material-icons {
    font-size: 90%;
  }

  footer a {
    color: inherit;
    text-decoration: underline;
  }

  footer a:hover {
    color: rgba(255,255,255,0.7);
  }

  #sec2 {
    color: white;
    padding-top: 20px;
  }

  #sec2 i {
    color: #587ea3;
    font-size: 500%;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  }

  #sec2 .row .col p:nth-child(3) {
      margin-top: -15px;
  }
  /*
  https://unsplash.com/photos/yQorCngxzwI
  */
  @keyframes clouds {
    0% {
      background-position: 0% 70%;
    }
    50% {
      background-position: 100% 80%;
    }
    100% {
      background-position: 0% 70%;
    }      
  }  
  #about {
    /*
    https://unsplash.com/photos/yQorCngxzwI
    */
    color: #174274;
    background-image: url(/taylor-van-riper-477124-unsplash_.jpg);
    background-size: cover;
    background-position: 0% 70%;
    animation-timing-function: linear;
    animation-name: clouds;
    animation-duration: 10s;
    animation-iteration-count: infinite;    
    margin-bottom: -20px;
  }

  #about .row {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 110%;
  }

  #about-picture {
    margin-top: -5px;
    width: 170px;
    height: 170px;
    border-radius: 85px;
    border: 3px solid white;
    background-size: cover;
    background-position: right;
    /*
    https://unsplash.com/photos/5fNmWej4tAA 
    */
    background-image: url(/helloquence-61189-unsplash.jpg);
  }

  #badges img {
    height: 30px;
    margin: 10px 20px 0px 20px;
  }

  .dots {
    opacity: 0.5;
    transform: scaleX(2);
    letter-spacing: 1px;
    text-align: center;
    margin: -15px 0px -5px 0px;
  }

  #badges {
    background-color: rgba(255,255,255,0.6);
    margin-top: 15px;
  }

  #sucesso-form-submit {
    padding: 30px 10px;
  }

  #sucesso-form-submit div {
    padding: 15px;
    color: rgba(0,0,0,0.6);
  }

  #sucesso-form-submit i {
    font-size: 250%;
    font-weight: bold;
    float: left;
    padding-right: 20px;
    color: white;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 250%;
    }
    #left-description {
      font-size: 120%;
      padding-left: 20px;  
      color: rgba(255,255,255,1);
      text-shadow: 1px 1px 7px rgba(0,0,0,0.8);       
    }
    #left-description ul {
      margin-left: 20px;
    }     
    .flag-wrapper {
      transform: scale(0.6);
      top: -10px;
      right: -20px;
    }

    #mainlogo {
      margin-top: 10px;
      width: 250px;
    }
  }
  .frasedestaque {
    font-weight: bolder;
  }

  .features {
    text-align: left;
    text-justify: inter-word;  
  }

  .feature-title::before {
    content: '✈';
    margin-right: 5px;
    opacity: 0.9;
  }
  .feature-title {
    /*
    background-color: rgba(23, 66, 116, 0.7);
    color: white;
    */
    padding: 5px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;     
    /*
    width: 110px;
    display: inline-block;
    text-align: center;
    */
  }

  #feature-cards {
    text-align: center;
    padding: 0px 15px;
    line-height: 160px;
    background-color: #174274;
  }

  .feature-card {
    line-height: normal;
    vertical-align: middle;
    color: white;
    width: 180px;
    height: 150px;
    background-color: #174274;
    display: inline-block;
    margin: 0px 10px 0px 10px;
  }

  .feature-card i {
    color: #b3d5ed;
    font-size: 80px;
    display: block;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  }

  @media screen and (max-width: 992px) {
    #about-picture {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: -10px;
    }
    #about {
      background-position: 40% 90%;
      animation-duration: 60s;
    }
    #feature-cards {
      
    }
    .feature-card {
      width: 150px;
    }
  }